
/* RESET ESTILOS */

h1 {
    margin: 0;
}

button {
    padding: 0;
}


/* ESTILOS */

/** FUENTE PREDETERMINADA **/

@font-face {
    font-family: 'Glacial Indifference';
    src: url('../fonts/glacial-indifference.regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/** ESTILOS GENERALES **/

html {
    font-family: 'Glacial Indifference', sans-serif;
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    background: white;
    color: #4E5DAF;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}


.main-menu {
    margin: 20px 35px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/** PÁGINA DE AUTENTICACIÓN DEL ADMINISTRADOR **/

#welcome-text {
    font-weight: 900;
}

.button-icon {
    text-align: center;
    font-size: 6em;
}
.dashboard-options {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.navigation-dashboard-buttons {
    cursor: pointer;
    border-radius: 20px;
    color: #4E5DAF;
    font-family: 'Glacial Indifference', sans-serif;
    padding: 10px;
    background: none;
    border: #4E5DAF solid;
}

.navigation-dashboard-buttons:hover {
    box-shadow: 3px 1px 50px #4E5DAF;
    transition: .3s ease-in;
    background: #4E5DAF;
    color: white;
}

.inferior-button {
    margin: 10px;
}

.dashboard-button-icon {
    margin: 5px;
}